<!-- 관리 바 (views/partials/managebar.ejs) -->
<div class="managebar d-flex text-nowrap overflow-x-auto py-2 border-bottom" style="background-color: #f8f9fa;">
  <span class="mx-3 my-1">
      <a href="/admin/member" class="text-decoration-none text-dark small">회원 관리</a>
  </span>
  <span class="me-3 my-1">
      <a href="/admin/email" class="text-decoration-none text-dark small">이메일 발송</a>
  </span>
  <span class="me-3 my-1">
      <a href="/admin/logs" class="text-decoration-none text-dark small">로그 관리</a>
  </span>
  <span class="me-3 my-1">
      <a href="/admin/short-url" class="text-decoration-none text-dark small">URL 단축</a>
  </span>
  <span class="me-3 my-1">
      <a href="/admin/schedule" class="text-decoration-none text-dark small">일정 관리</a>
  </span>
  <span class="me-3 my-1">
      <a href="/admin/translator" class="text-decoration-none text-dark small">번역</a>
  </span>
  <span class="me-3 my-1">
      <a href="/admin/surveys" class="text-decoration-none text-dark small">설문조사</a>
  </span>
  <span class="me-3 my-1">
      <a href="/admin/notices" class="text-decoration-none text-dark small">안내문</a>
  </span>
</div>
