<!-- 상단 내비게이션바 (views/partials/navbar.ejs) -->
<nav class="navbar border-bottom border-body" style="background-color: #254B7A;" data-bs-theme="dark"> <!-- navbar-expand-sm --> 
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand d-flex align-items-center mx-auto" href="#" style="font-size: 18px;">
          <img src="/img/logo-white.png" alt="" width="22" height="22" class="d-inline-block align-text-top"> 
          <span class="ms-2">HiKorean</span> <!-- 텍스트와 로고 사이에 여백 추가 -->
      </a>
      <!-- <a class="navbar-brand d-sm-none mx-auto" href="#"><img src="/img/logo-white.png" alt="" width="24" height="24" class="d-inline-block align-text-top"> HiKorean</a> -->
      <!-- <a class="navbar-brand d-none d-sm-block" href="#"><img src="/img/logo-white.png" alt="" width="24" height="24" class="d-inline-block align-text-top"> HiKorean PC</a> -->
      <div class="d-flex" id="navbarScrollingDropdown" style="width: 66px; height: 40px;">
        <a href="/login" class="nav-link p-0 me-2"> <!-- me-2 클래스로 오른쪽 여백 추가 -->
            <i class="bi bi-person-circle" style="font-size: 22px; color: white;"></i>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle p-0" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-globe" style="font-size: 22px;"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">한</a></li>
                <li><a class="dropdown-item" href="#">En</a></li>
                <li><a class="dropdown-item" href="#">简</a></li>
                <li><a class="dropdown-item" href="#">繁</a></li>
                <li><a class="dropdown-item" href="#">日</a></li>
                <li><a class="dropdown-item" href="#">Vi</a></li>
              </ul>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/home">홈</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/admission">입학 안내</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/posts">게시판</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/admin">관리자</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
