<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
      <span class="brand-text font-weight-light">관리자 대시보드</span>
  </a>
  <div class="sidebar">
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item">
                  <a href="/" class="nav-link">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>홈 화면</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>대시보드</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="/admin" class="nav-link">
                      <i class="nav-icon fas fa-envelope"></i>
                      <p>사용자 관리</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="/admin/email" class="nav-link">
                      <i class="nav-icon fas fa-envelope"></i>
                      <p>메일 발송</p>
                  </a>
              </li>
              <li class="nav-item">
                <a href="/admin/logs" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>로그 기록</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/short-url" class="nav-link">
                    <i class="nav-icon fas fa-link"></i>
                    <p>짧은 URL 관리</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/schedule" class="nav-link">
                    <i class="nav-icon fas fa-link"></i>
                    <p>스케줄 관리</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/notices" class="nav-link">
                    <i class="nav-icon fas fa-link"></i>
                    <p>안내문 관리</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/survey/list" class="nav-link">
                    <i class="nav-icon fas fa-link"></i>
                    <p>설문조사 관리</p>
                </a>
              </li>
              <!-- 다른 메뉴 아이템 추가 가능 -->
          </ul>
      </nav>
  </div>
</aside>
