/* public/styles.css */
.header1 { font-size: 24px; font-weight: bold; color:brown; }
.header2 { font-size: 20px; font-weight: bold; }
.header3 { font-size: 18px; font-weight: bold; }
.header4 { font-size: 16px; font-weight: bold; }
.header5 { font-size: 14px; font-weight: bold; }


.translation-pair {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.original, .google-translation, .microsoft-translation, .deepl-translation, .final-translation {
  flex: 1 1 18%; /* 4열 레이아웃 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-right: 5px;
}

.original img, .google-translation img, .microsoft-translation img, .deepl-translation img {
  margin-bottom: 5px; /* 이미지와 텍스트 사이의 간격 */
  opacity: 0.5; /* 기본 상태에서 불투명도 0.5 */
  transition: opacity 0.3s; /* 부드러운 전환 효과 */
}

.final-translation textarea {
  resize: vertical; /* 사용자가 세로로만 크기 조절 가능 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤바 추가 */
  width: 100%;
  height: auto; /* 자동 높이 조정 */
}

.selected img {
opacity: 1;
}

@media (max-width: 768px) {
  .original, .google-translation, .microsoft-translation, .final-translation {
      flex: 1 1 100%; /* 4행 레이아웃 */
  }
}

blockquote {
  text-align: center; /* 가운데 정렬 */
  border-radius: 10px; /* 둥근 사각형 */
  background-color: #007bff; /* 배경색 (예: 파란색) */
  color: white; /* 글자색 */
  font-weight: bold; /* 글자 굵게 */
  padding: 10px;
  margin: 20px 0; /* 상하 여백 */
}

blockquote a {
  color: white; /* 하이퍼링크 색상 */
  text-decoration: underline; /* 밑줄 제거 */
}

blockquote a:hover {
  color: white; /* 하이퍼링크 색상 */
  text-decoration: underline; /* 마우스 오버 시 밑줄 추가 */
}