body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: rgba(37, 75, 122, 0.04); /* 검은색 배경과 2% 투명도 */
}

/* public/styles.css */
.header1 { font-size: 24px; font-weight: bold; color:brown; }
.header2 { font-size: 20px; font-weight: bold; }
.header3 { font-size: 18px; font-weight: bold; }
.header4 { font-size: 16px; font-weight: bold; }
.header5 { font-size: 14px; font-weight: bold; }

.bold {
  font-weight: 600; /* Noto Sans KR 700 굵기 */
}

.translation-pair {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.original, .google-translation, .microsoft-translation, .deepl-translation, .final-translation {
  flex: 1 1 18%; /* 4열 레이아웃 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-right: 5px;
}

.original img, .google-translation img, .microsoft-translation img, .deepl-translation img {
  margin-bottom: 5px; /* 이미지와 텍스트 사이의 간격 */
  opacity: 0.5; /* 기본 상태에서 불투명도 0.5 */
  transition: opacity 0.3s; /* 부드러운 전환 효과 */
}

.final-translation textarea {
  resize: vertical; /* 사용자가 세로로만 크기 조절 가능 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤바 추가 */
  width: 100%;
  height: auto; /* 자동 높이 조정 */
}

.selected img {
opacity: 1;
}

@media (max-width: 768px) {
  .original, .google-translation, .microsoft-translation, .final-translation {
      flex: 1 1 100%; /* 4행 레이아웃 */
  }
}

blockquote {
  text-align: center; /* 가운데 정렬 */
  border-radius: 6px; /* 둥근 사각형 */
  background-color: #007bff; /* 배경색 (예: 파란색) */
  color: white; /* 글자색 */
  font-weight: bold; /* 글자 굵게 */
  padding: 6px;
  margin: 10px 0 20px 0; /* 상하 여백 */
}

blockquote a {
  color: white; /* 하이퍼링크 색상 */
  text-decoration: underline; /* 밑줄 제거 */
}

blockquote a:hover {
  color: white; /* 하이퍼링크 색상 */
  text-decoration: underline; /* 마우스 오버 시 밑줄 추가 */
}





.admission_container {
  padding: 20px; /* 모바일에서의 패딩 */
}

/* 팝업 스타일 */
.popup {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%; /* 모바일에서의 너비 */
  max-width: 500px; /* 최대 너비 */
}

#overlay {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* 제목 스타일 */
.popup h1, .popup h2 {
  margin: 10px 0; /* 제목 간격 */
}


/* 제목 스타일 */
.note-editable h1 {
  font-size: 1.5rem; /* 40px */
  margin: 20px 0; /* 위아래 여백 */
  font-weight: bold; /* fw-bold */
  padding-top: 1rem; /* py-3 */
  padding-bottom: 1rem; /* py-3 */
  margin-top: 1rem; /* mt-3 */
  margin-bottom: 0.5rem; /* mb-2 */
  border-bottom: 1px solid #dee2e6; /* border-bottom */
}

.note-editable h2 {
  font-size: 1.25rem; /* 32px */
  margin: 18px 0; /* 위아래 여백 */
  font-weight: bold; /* fw-bold */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  margin-top: 0.5rem; /* mt-2 */
  margin-bottom: 0.25rem; /* mb-1 */
  border-bottom: 1px solid #dee2e6; /* border-bottom */
}

.note-editable h3 {
  margin: 0.5rem 0; /* 위아래 여백 */
  line-height: 1.5; /* 줄 간격 */
  margin-left: 1rem; /* 왼쪽 여백 */
  font-size: 1rem; /* 28px */
}

.note-editable h4 {
  margin: 0.5rem 0; /* 위아래 여백 */
  line-height: 1.5; /* 줄 간격 */
  margin-left: 1rem; /* 왼쪽 여백 */
  font-size: 0.875rem; /* 작은 글씨 크기 */
  font-weight: bold; /* fw-bold */
  position: relative; /* 가상 요소 위치 조정을 위해 relative 설정 */
  padding-left: 1.5rem; /* 왼쪽 패딩을 추가하여 기호와 텍스트 간격 설정 */
}

.note-editable h4::before {
  content: ''; /* 내용은 비워두고 */
  position: absolute; /* 절대 위치 설정 */
  left: 0.5rem; /* 왼쪽 위치 설정 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 보정 */
  width: 8px; /* 기호의 너비 */
  height: 8px; /* 기호의 높이 */
  background-color: #000; /* 기호의 색상 (검정색) */
  border-radius: 2px; /* 네모를 둥글게 만들기 (원하는 경우) */
}


.note-editable h5 {
  font-size: 0.75rem; /* 20px */
  margin: 12px 0; /* 위아래 여백 */
}

/* 문단 스타일 */
.note-editable p {
  margin: 0.5rem 0; /* 위아래 여백 */
  line-height: 1.5; /* 줄 간격 */
  margin-left: 1rem; /* 왼쪽 여백 */
  font-size: 0.875rem; /* 작은 글씨 크기 */
}

/* 리스트 스타일 */
.note-editable ul {
  margin: 0.5rem 0; /* 리스트 위아래 여백 */
  padding-left: 1rem; /* 왼쪽 여백 */
  list-style-type: square; /* 리스트 아이콘 모양 */
}

.note-editable li {
  margin: 0.5rem 0; /* 리스트 항목의 위아래 여백 */
  line-height: 1.5; /* 줄 간격 */
  font-size: 0.875rem; /* 작은 글씨 크기 */
}

.note-editable ol {
  margin: 0.5rem 0; /* 리스트 항목의 위아래 여백 */
  line-height: 1.5; /* 줄 간격 */
  font-size: 0.875rem; /* 작은 글씨 크기 */
}

/* 테이블 스타일 */
.note-editable table {
  width: 100%; /* 테이블 너비 */
  border-collapse: collapse; /* 테이블 경계 합치기 */
}

.note-editable table, .note-editable th, .note-editable td {
  border: 1px solid #dee2e6; /* 경계 색상 */
}

.note-editable th, .note-editable td {
  padding: 0.3rem; /* 패딩 */
  font-size: 0.875rem; /* 작은 글씨 크기 */
}
