<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안내문 작성</title>
    <!-- include libraries(jQuery, bootstrap) -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- include summernote css/js-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">안내문 작성</h1>
        <form action="/notices" method="POST">
            <div class="mb-3">
                <input type="text" name="title" class="form-control" placeholder="제목" required>
            </div>
            <div id="editor"></div>
            <input type="hidden" name="content" id="content">
            <button type="submit" class="btn btn-primary">저장</button>
        </form>
    </div>

    <script>
$(document).ready(function() {
    $('#editor').summernote({
        placeholder: '내용을 입력하세요...',
        disableDragAndDrop: true,
        shortcuts: true,
        tabDisable: true,
        tabsize: 2,
        height: 300, // 편집기 높이 설정
        toolbar: [
            // ['style', ['style']],
            // ['style', ['bold', 'italic', 'underline', 'clear']],
            // ['font', ['strikethrough', 'superscript', 'subscript']],
            // ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']],
            ['misc', ['undo', 'redo']],
            ['custom', ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'blockquote']]
        ],
        buttons: {
            p: function() {
                return $('<button type="button" class="btn btn-default" title="본문">본문(Ctrl+0)</button>')
                    .click(function() {
                        $('#editor').summernote('formatBlock', 'p');
                    });
            },
            h1: function() {
                return $('<button type="button" class="btn btn-default" title="제목">제목(Ctrl+1)</button>')
                    .click(function() {
                        $('#editor').summernote('formatBlock', 'h1');
                    });
            },
            h2: function() {
                return $('<button type="button" class="btn btn-default" title="부제목">부제목(Ctrl+2)</button>')
                    .click(function() {
                        $('#editor').summernote('formatBlock', 'h2');
                    });
            },
            h3: function() {
                return $('<button type="button" class="btn btn-default" title="소제목">소제목(Ctrl+3)</button>')
                    .click(function() {
                        $('#editor').summernote('formatBlock', 'h3');
                    });
            },
            h4: function() {
                return $('<button type="button" class="btn btn-default" title="강조문">강조문(Ctrl+4)</button>')
                    .click(function() {
                        $('#editor').summernote('formatBlock', 'h4');
                    });
            },
            h5: function() {
                return $('<button type="button" class="btn btn-default" title="비고">비고(Ctrl+5)</button>')
                    .click(function() {
                        $('#editor').summernote('formatBlock', 'h5');
                    });
            },
            blockquote: function() {
                return $('<button type="button" class="btn btn-default" title="인용문">인용문</button>')
                    .click(function() {
                        $('#editor').summernote('formatBlock', 'blockquote');
                    });
            }
        },
        // styleTags: [
        //     { title: '제목', tag: 'h1', className: 'header1' },
        //     { title: '부제목', tag: 'h2', className: 'header2' },
        //     { title: '소제목', tag: 'h3', className: 'header3' },
        //     { title: '강조문', tag: 'h4', className: 'header4' },
        //     { title: '본문', tag: 'p' },
        //     { title: '비고', tag: 'h5', className: 'header5' },
        //     { title: '인용문', tag: 'blockquote' }
        // ],
        callbacks: {
            onPaste: function(e) {
                e.preventDefault(); // 기본 붙여넣기 동작 방지
                const text = (e.originalEvent || e).clipboardData.getData('text/plain'); // 텍스트만 가져오기
                document.execCommand('insertText', false, text); // 에디터에 텍스트 삽입
            }
        }
    });

    $('form').on('submit', function() {
        const content = $('#content');
        content.val($('#editor').summernote('code')); // 에디터 내용을 hidden input에 저장
    });
});
  </script>
</body>
</html>