<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>설문조사 결과</title>
</head>
<body>
    <h1>설문조사 결과: <%= survey.title %></h1>
    <p>응답이 아래와 같이 잘 제출되었습니다:</p>
    <ul>
        <% formattedResponses.forEach(response => { %>
            <li>질문 ID: <%= response.questionId %>, 응답: <%= response.answer %></li>
        <% }); %>
    </ul>
    
    <a href="/surveys">리스트로 돌아가기</a> <!-- 리스트로 돌아가기 버튼 -->
</body>
</html>
